@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

body {
    font-family: "Noto sans JP", sans-serif;
    margin: auto;
}
section {
    display: flex;
    align-content: center;
    align-items: center;
}
section div {
    margin: 1rem;
}
input {
    box-shadow: 1px 1px rgb(100, 96, 96);
}
#login {
    border-radius: 10px;
}

:hover + .descricao {
    font-size: 12px;
    display: inline-flex;
    border: 1px solid black;
    box-shadow: 1px 1px rgb(100, 96, 96);
}
#mensagem {
    transition: none;
}
.especial {
    display: inline-flex;
}
